<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>登录界面</title>
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
					</div>
					<div class="col-md-4 column" align="center">
						<img alt="140x140" src="/img/8c48dc3d70cf3bc797db400dd000baa1cc112a3d.png" class="img-circle" />
						<form class="form-horizontal" role="form" method="post" action = "login">
							<div class="form-group" >
								 <label for="account" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="account" name="account" />
								</div>
							</div>
							<div class="form-group">
								 <label for="pwd" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="pwd" name="pwd" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										 <label><input type="checkbox" />记住我其实没用</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									 <button type="submit" class="btn btn-default">登录</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-4 column">
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
